body {
  background: rgb(184, 132, 46);
}

#back-wall {
  background: #8b4513;
  width: 100%;
  height: 60%;
  position: absolute;
}

#offwhite-character {
  width: 300px;
  height: 550px;
  background: ghostwhite;
  position: absolute;
  top: 20%;
  left: 17.5%;
}
